<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="page_qui_somme_nous.css">
</head>
<body>
    <main>
    
        <div class="part1">
        <h1>PEACE OF MIND</h1>
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Montes molestie viverra nascetur; integer semper metus phasellus odio. Quis egestas lectus in cubilia curae. Phasellus lacus facilisis a proin massa urna. Natoque cras dapibus nam facilisi mattis interdum sapien suscipit. Morbi senectus posuere metus mollis sociosqu, mattis elementum dui consequat.
        </p>
        <video width="100%" height="50%" controls>
            <source src="chemin/vers/ta-video.mp4" type="video/mp4">
            Ton navigateur ne supporte pas la balise vidéo.
          </video>        
        </div>
        <div class="part2">
                <h1>Nos valeurs</h1>

                <div class="valeur">
                        <div class="valeur1 valeur_img">
                            <img src="IMG/exemple.jpg" alt="">
                        </div>
                        <div class="valeur2 valeur_txt">
                            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Montes molestie viverra nascetur; integer semper metus phasellus odio. Quis egestas lectus in cubilia curae. Phasellus lacus facilisis a proin massa urna. Natoque cras dapibus nam facilisi mattis interdum sapien suscipit. Morbi senectus posuere metus mollis sociosqu, mattis elementum dui consequat.
                            </div>
                        <div class="valeur3 valeur_img">
                            <img src="IMG/exemple.jpg" alt="">
                        </div>                
                        <div class="valeur4 valeur_txt">
                            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Montes molestie viverra nascetur; integer semper metus phasellus odio. Quis egestas lectus in cubilia curae. Phasellus lacus facilisis a proin massa urna. Natoque cras dapibus nam facilisi mattis interdum sapien suscipit. Morbi senectus posuere metus mollis sociosqu, mattis elementum dui consequat.
                            </div>                
                        <div class="valeur5 valeur_img">
                            <img src="IMG/exemple.jpg" alt="">
                        </div>                
                        <div class="valeur6 valeur_txt">
                            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Montes molestie viverra nascetur; integer semper metus phasellus odio. Quis egestas lectus in cubilia curae. Phasellus lacus facilisis a proin massa urna. Natoque cras dapibus nam facilisi mattis interdum sapien suscipit. Morbi senectus posuere metus mollis sociosqu, mattis elementum dui consequat.
                        </div>            
                </div>
        </div>
        <div class="part3">
                <h1>Notre team</h1>

                <div class="team_globale">
                        <div class="team1 team_img">
                            <img src="IMG/exemple.jpg" alt="">
                        </div>
                        <div class="team1 team_img">
                            <img src="IMG/exemple.jpg" alt="">
                        </div>
                        <div class="team1 team_img">
                            <img src="IMG/exemple.jpg" alt="">
                        </div>
                        <div class="team1 team_img">
                            <img src="IMG/exemple.jpg" alt="">
                        </div>
            </div>
        </div>



    </main>
    <footer>
        <div class="footer-haut">
            <h3>Nos réseaux:</h3>
            <div class="reseau">  
                    <div class="element"></div>
                    <div class="element"></div>
                    <div class="element"></div>
                    <div class="element"></div>
             </div>
        </div>

        <div class="footer-milieu">
                <button>logo</button>
                <div class="footer-slogan">peace of mind c'est trop bien wow</div>
                <button>faite un don</button>
        </div>

        <div class="footer-bas">
            <a href="">Tous droits réservés | Mentions Légales | Contact | FAQ</a></p>
        </div>
    </footer>
</body>
</html>