.button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: white;
    background-color: var(--bleu-fonce);
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.button:hover {
    background-color: var(--jaune);
}

.button:hover .button__icon-wrapper {
    color: white;
}

.button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
}

.bold {
    font-weight: bold;
}

#sante-mentale {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin: 20px 30px;
    padding: 20px;
    background-color: var(--rose);
    border-radius: 40px;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.20) inset;
}

#sante-mentale img {
    float: right;
    width: 80px;
    height: 80px;
    margin: 10px;
}

#sante-mentale p {
    text-align: justify;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font-main);
}

#button-container {
    display: flex;
    justify-content: space-around;
    margin: 0 30px;
}

#button-container img {
    width: 13px;
}

/* LE SAVIEZ VOUS */

#saviez-vous-text p {
    text-align: justify;
}

#saviez-vous-text img {
    margin: 10px;
    width: 140px;
    float: right;
}

/* CARTE */

#cartes-container {
    cursor: grab;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.carte {
    display: flex;
    align-items: flex-start;
    position: absolute;
    width: 90%;
    border-radius: 20px;
    backface-visibility: hidden;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.carte p {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    position: absolute;
    padding: 0 7px;
}


.recto p {
    color: var(--bleu-fonce);
    text-align: center;

}

.recto {
    transform: rotateY(0deg);
}

.verso {
    transform: rotateY(180deg);
}

.verso p {
    text-align: center;
    font-size: 15px;
    color: var(--rose);
}

.flipped .recto {
    transform: rotateY(180deg);
}

.flipped .verso {
    transform: rotateY(0deg);
}

/* BLOG */


#container-img-art {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

#container-img-art img {
    width: 100%;
    border-radius: 20px;
}

#container-img-art p {
    top: -25px;
    position: relative;
    left: 10px;
    OPACITY: 0.3;
}

.p-titre {
    display: flex;
    align-items: center;
    gap: 10px;
}


#last-article {
    display: flex;
    background-color: var(--bleu);
    border-radius: 40px;
    width: fit-content;
    padding: 7px;
    position: relative;
    top: 12px;
    left: 12px;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.305) inset;
}


#text-last-article {
    height: 30vh;
    overflow: hidden;
    margin: 0 10%;
    background-color: #000000;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.115));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


#text-last-article p:nth-child(1) {
    margin-bottom: 10px;
    color: var(--bleu-fonce);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#text-last-article p {
    text-align: justify;
}

.article-container-mobile button {
    margin: auto;
    width: fit-content;
    top: 15px;
    position: relative;
}


#button-article {
    width: 100%;
    display: flex;
}


#message {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

/* FORUM */


#message div {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-items: center;
    width: fit-content;
}

#message p {
    margin-top: 3px;
    grid-column: 1;
    grid-row: 1;
}

#message img {
    grid-column: 1;
    grid-row: 1
}

/* TEMOIGNAGE */

#temoignage-section .p-titre img {
    width: 18px;
}

#temoignages-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

#text-temoignage {
    border: 1px solid var(--bleu);
    padding: 40px 20px 20px 20px;
    border-radius: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#identite {
    width: fit-content;
    padding: 5px 10px;
    background-color: var(--bleu);
    display: flex;
    border-radius: 40px;
    top: 30px;
    position: relative;
}

#identite img {
    width: 20px;
}

@media (min-width: 481px) {
    /* SANTE MENTALE */

    #section-sante-mentale {
        display: flex;
        margin: 30px 7% 0 7%;
        justify-content: center;
    }

    #sante-mentale {
        width: 50%;
    }

    p {
        font-size: 16px;
        font-family: var(--font-main);
    }


    header nav {
        z-index: 10;
    }


    #sante-mentale {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        margin: 20px 30px;
        padding: 20px;
        background-color: var(--rose);
        border-radius: 40px;
        box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.20) inset;
    }

    #button-container::after {
        content: '';
        margin-left: 20px;
        background-image: url(../images/appli.png);
        transform: translate(160px, -90px);
        width: 60px;
        background-size: cover;
        height: 70px;
        position: relative;
    }

    #button-container {
        justify-content: space-evenly;
    }

    #button-container .button {
        width: 100%;
        justify-content: space-evenly;
        color: black;
    }

    #button-container button:nth-child(1) {
        background-color: var(--jaune);
        border: 0.5px solid var(--jaune);
    }

    #button-container button:nth-child(2) {
        background-color: var(--bleu);
        border: 0.5px solid var(--bleu);
    }

    #button-container button:nth-child(1):hover {
        background-color: white;
    }

    #button-container button:nth-child(2):hover {
        background-color: white;
    }

    /* LE SAVIEZ VOUS SECTION */

    #saviez-vous {
        margin: 90px 7% 0 7%;
    }

    #saviez-vous-text h4 {
        text-align: start;
        margin-top: 60px;
    }

    /* CARTE */

    #cartes-container {
        scrollbar-width: thin;
        /* Pour les navigateurs modernes, réduit la largeur de la scrollbar */
        scrollbar-color: #888 #f1f1f1;
        /* Couleurs personnalisées de la scrollbar */
    }

    .carte {
        box-sizing: border-box;
    }

    .carte-container {
        flex: none;
        width: 300px;
        height: 400px;
        position: relative;
        perspective: 800px;
        cursor: pointer;
    }

    #cartes-container::-webkit-scrollbar {
        display: none;
    }

    #cartes-container::-webkit-scrollbar {
        display: block;
    }

    #cartes-container::-webkit-scrollbar {
        height: 8px;
        /* Hauteur de la scrollbar */
    }

    #cartes-container::-webkit-scrollbar-track {
        background: #f1f1f1;
        /* Couleur de l'arrière-plan de la scrollbar */
        border-radius: 10px;
    }

    #cartes-container::-webkit-scrollbar-thumb {
        background: #888;
        /* Couleur de la barre */
        border-radius: 10px;
    }

    #cartes-container::-webkit-scrollbar-thumb:hover {
        background: #555;
        /* Couleur de la barre au survol */
    }

    /* SECTION BLOG */

    #blog-section {
        margin: 90px 7% 30px 7%;
    }

    .article-container-mobile {
        display: none;
    }

    .article-container-desktop {
        margin: 20px 15% 0 15%;
        background-color: var(--rose);
        border-radius: 40px;
        box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.305) inset;
    }

    #text-last-article p:nth-child(1) {
        margin-bottom: 10px;
        color: var(--bleu-fonce);
        font-size: 17px;
        text-align: center;
        font-weight: bold;
    }

    #text-last-article p {
        text-align: justify;
    }

    .article-container-desktop button {
        margin: auto;
        width: fit-content;
        top: 15px;
        position: relative;
    }

    /* FORUM  */

    #message {
        align-items: center;
    }


    #forum-section {
        width: 30%;
        display: flex;
        flex-direction: column;
        margin: 60px auto 30px auto;
        align-items: center;
    }

    #message-jaune {
        font-weight: bold;
    }

    /* TEMOIGNAGES */

    #temoignage-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 30px;
    }

    #temoignage-section h4,
    #temoignage-section .p-titre {
        text-align: center;
        justify-content: center;
    }

    #temoignages-container {
        width: 50%;
        margin: auto;
    }

    #soutien-img {
        margin: 40px auto 0 auto;
        width: 30%;
        text-align: center;
    }
}

/* RESPONSIVE MOBILE */

@media (max-width: 480px) {

    h4 {
        text-align: center;
    }

    #section-sante-mentale {
        display: block;
    }

    #sante-mentale .button {
        width: fit-content;
    }

    #button-container form button {
        width: 100%;
        justify-content: space-evenly;
        color: black;

    }

    #button-container p {
        font-size: 70%;
    }

    #button-faq {
        background-color: var(--jaune);
    }

    #button-forum {
        background-color: var(--bleu);
    }

    /* LE SAVIEZ VOUS SECTION */

    #saviez-vous {
        margin-top: 30px;
    }

    #saviez-vous-text {
        margin: 0 30px;
    }

    #saviez-vous-text h4 {
        margin-top: 30px;
    }

    /* CARTE */

    .carte-container {
        flex: none;
        width: 190px;
        height: 290px;
        position: relative;
        perspective: 800px;
        cursor: pointer;
    }

    /* SECTION BLOG */

    .article-container-desktop {
        display: none;
    }

    #blog-section {
        margin: 0 30px 30px 30px;
    }

    .article-container-mobile {
        margin-top: 20px;
        background-color: var(--rose);
        border-radius: 40px;
        box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.305) inset;
    }

    .p-titre {
        justify-content: center;
    }

    #button-article form {
        margin: auto;
    }

    /* FORUM  */

    #forum-section {
        display: flex;
        flex-direction: column;
        margin: 0 30px 30px 30px;
    }

    #message-jaune {
        margin-left: 40%;
    }

    #message-jaune a {
        position: absolute;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }

    /* TEMOINGNAGES */

    #temoignage-section {
        margin: 0 30px;
    }

    #text-temoignage p:first-child {
        font-weight: bold;
    }

    #soutien-img {
        margin-top: 40px;
    }

    /* FOOTER */

    #footer-desktop {
        display: none;
    }

}