    /* BESION AIDE  */

    #besoin-aide h1 {
        background-position-y: 23px;
        background-image: url(../images/nuage.svg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: 100px;
    }

    #intro {
        margin: 0 30px;
    }

    #intro img {
        float: right;
    }

    #intro-p {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: justify;
    }

    .titre-question {
        margin-bottom: 20px;
        background-color: var(--bleu);
        color: black;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        border-radius: 20px;
        padding: 10px;
        font-family: var(--font-main);
        width: 100%;
    }

    form {
        margin-top: 60px;
    }

    .question {
        width: 100%;
        margin-top: 30px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    #pour-qui button {
        text-align: center;
        gap: 20px
    }

    .proposition {
        gap: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .question-hidden {
        display: none;
    }

/* bloquer le defilement de la page quand map ouverte */
    .no-scroll {
        overflow: hidden;
        height: 100vh;
    }

    /* .pour-moi-container {
        flex-direction: column;
    } */

    /* MAP */

    #map {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.4);
        display: none;
        justify-content: center;
        align-items: flex-end;
        z-index: 1000;
    }
    
    #map-container {
        width: 100%;
        height: 90%;
        background: white;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
        overflow: hidden;
        position: relative;
    }
    
    #close-map {
        z-index: 10;
        position: absolute;
        bottom: 10px;
        right: 10px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 40px;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
    }

    #close-map img {
        width: 20px;
    }
