h2 {
    font-family: var(--font-main);
}

#title {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--bleu-fonce);
}

#container-form {
    padding: 40px;
    width: 90%;
    margin: 20px auto;
    background: white;
    border-radius: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    font-size: 16px;
    font-weight: bold;
    font-family: var(--font-main);
    color: var(--bleu-fonce);
}

form input::placeholder {
    color: var(--bleu);
}

form input {
    font-family: var(--font-main);
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

#bottom-form {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: var(--bleu-fonce);
    opacity: 0.9;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

#bottom-form span,
#bottom-form a {
    font-size: 14px;
    font-weight: bold;
    font-family: var(--font-main);
    text-decoration: underline;
    color: var(--bleu-fonce);
    opacity: 0.9;
}

form .button {
    background-color: var(--jaune);
    margin: auto;
    display: flex;
    justify-content: center;
    width: fit-content;
}

form button:hover {
    background-color: #0056b3;
}

#form {
    margin: 0 30px 90px 30px;
}

.form-hidden {
    display: none;
}

@media (min-width: 481px) {

    #connexion {
        margin: 150px 7%;

    }

    #form {
        width: 40%;
        margin: auto;
    }
}