h4 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font-main);
}

#h1 {
    margin: auto;
    margin: 30px auto;
    width: 70%;
}

h2 {
    text-align: center;
    font-family: var(--font-main);
}

#h1 img {
width: 100%;
}

#intro {
margin: 30px;
text-align: justify;
}

.bold {
font-weight: bold;
}

#video-pom {
height: 200px;
margin: 30px;
background-color: var(--bleu-fonce);
color: var(--jaune);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 30px;
}

#bientot {
color: var(--rose);
}

#mission {
margin: 30px;
}

#mission .p-qui-somme-nous {
text-align: center;
}

#mission ul {
display: flex;
flex-direction: column;
gap: 10px;
list-style-type: none;
text-align: center;
}

#valeur {
margin: 30px;
}

.p-qui-somme-nous {
margin: 30px 0;
}

.button {
    width: 80%;
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    border: none;
    cursor: pointer;
    align-items: center;
    gap: 0.75rem;
    background-color: white;
    color: var(--bleu-fonce);
    border-radius: 10rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: white;
    background-color: var(--bleu-fonce);
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.button:hover {
    background-color: var(--jaune);
}

.button:hover .button__icon-wrapper {
    color: white;
}

.button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
}

#button-container {
    display: flex;
    justify-content: space-around;
    margin: 0 30px;
}

#button-container button {
    width: 45%;
    justify-content: space-evenly;
    color: black;

}

#button-container img {
    width: 13px;
}

#button-container p {
    font-size: 70%;
}

#button-container button:nth-child(1) {
    background-color: var(--jaune);
}

#button-container button:nth-child(2) {
    background-color: var(--bleu);
}

@media (min-width: 481px) {
    #qui-somme-nous {
        margin: 0 7%;
        margin-bottom: 200px;
    }   

    #h1 {
        width: 30%;
    }


}